body{
   /* Fondo */
   position: absolute;
   width: 1440px;
   height: 1024px;
   left: 0 px;
   top: 0 px;
   background: url(iconos/Fondo.jpg);
   background-size: cover;
   }
   
   
   header{
       /* encabezado */
       position: center;
       width: 1402px;
       height: 309px;
       left: 18px;
       top: 32px;
   }
   
   .encabezadotexto{
   /* encabezadotexto */
   position: absolute;
   width: 1000px;
   height: 190px;
   left: 64px;
   top: 82px;
   align-items: center;
   text-align: center;
   background: rgba(255, 255, 255, 0.41);
   border-radius: 25px;
   font-size: 23px;
   }
   
   .fotografia{
   /* fotografia */
   position: absolute;
   width: 300px;
   height: 300px;
   left: 1084px;
   top: 34px;
   background: url(/images/231700520_229683422356286_4694296832878463858_n.jpg);
   border-radius: 1000px;
   opacity: 80%;
   }
    .contenido{
   /* Contenido */
   
   
   position: absolute;
   width: 1314px;
   height: 500px;
   left: 46px;
   top: 370px;
    }
   
   
    .tajertatalleres{
       position: absolute;
       align-items: center;
       text-align: center;
       width: 250px;
       height:450px;
       left: 46px;
       top: 20px;
       font-size: 20px;
       background: rgba(255, 255, 255, 0.41);
       border-radius: 25px;
    }
   
    .tajertaconsultas{
       position: absolute;
       align-items: center;
      text-align: center;
       width: 250px;
       height: 450px;
       left: 520px;
       top: 20px;
       font-size: 20px;
       background: rgba(255, 255, 255, 0.41);
       border-radius: 25px;
    }
   
   .tajertasretos {
   font-family: SeoulHangang CEB;
   align-items: center;
   text-align: center;
   position: absolute;
   width: 250px;
   height: 450px;
   left: 960px;
   top: 20px;
   font-size: 20px;
   background: rgba(255, 255, 255, 0.35);
   border-radius: 25px;
   }
   
   .piedepagina{
   /* piedepagina */
   font-family: SeoulHangang CEB;
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 15px;
   align-items: center;
   text-align: center;
   
   position: absolute;
   width: 1318px;
   height: 114px;
   left: 56.5px;
   top: 894px;
   
   background: rgba(255, 255, 255, 0.41);
   border-radius: 25px;
   }
   
   .gato{
      /* emojione-monotone:cat-face */
   
   
   position: absolute;
   width: 64px;
   height: 64px;
   left: 1240px;
   top: 22%;
   left: 90%;
   }
   
   .repo
   {
      position: absolute;
      left: 82.36%;
      right: 11.74%;
      top: 25%;
      bottom: 2.93%;
   } 
   
   .fuente{
   font-family: SeoulHangang CEB;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 20px;
   align-items: center;
   padding-top: 3%;
   padding-left: 5%;
   display: flex;
   text-align: center;
   }