.Tituloprincipal{
    color: white;
    padding: 20px;
    background-color: rgba(219, 154, 148, 1);
    text-align: center;
    margin-top: 0%;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.flor{
    position: absolute;
    width: 550px;
    height: 487px;
    left: 780px;
    top: 25px;
    opacity: 20%;

}

.flor2{
    position: absolute;
    width: 550px;
    height: 487px;
    left: 75px;
    top: 600px;
    opacity: 20%;
}

body{
    background-color: rgba(236, 212, 198, 1); 
    font-family: Roboto;
}

.flecha{
    color: rgba(236, 212, 198, 1);
}


.tablaprincipal{
    background-color: rgba(219, 154, 148, 1);
    padding-top: 30px;
    padding-bottom: 30px;
    text-shadow: black 0.1em 0.1em 0.5em
    
}

.textoprincipal{
    color: white;
    padding-right: 340px;
    font-size: large;
}

.fotoprincipal{
    width: 177px;
    border-radius: 18px;
    border-style: groove;
}

.foto{
    padding-left: 300px;
    padding-right: 100px;
}






.textoformacion{
    color: rgba(219, 154, 148, 1);
    padding-right: 100px;
    font-size: 100%;
}
.textoformacion2{
    font-size: x-large;
}

.tituloformacion{
    color: rgba(219, 154, 148, 1);
    padding-right: 230px;
    padding-left: 200px;
    font-size: large;
}

.tablaformacion{

    padding-bottom: 15px;
    padding-top: 15px;
    text-shadow: rgb(0, 0, 0) 0.03em 0.03em 0.01em;
}







.tablahabilidades{
    background-color: rgba(219, 154, 148, 1);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 200px;
    padding-right: 389px;
    text-shadow: black 0.1em 0.1em 0.5em
}
.titulohabilidades{
    color: white;
    padding-right: 250px;
    font-size: large;
}
.textohabilidades{
    color: white;
    font-size: x-large;
}







.tablahobbies{
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 300px;
    padding-right: 170px;
    text-shadow: rgb(0, 0, 0) 0.03em 0.03em 0.01em;

}

.textohobbies{
    color: rgba(219, 154, 148, 1);
    font-size: x-large;
    padding-right: 200px;
}

.titulohobbies{
    color: rgba(219, 154, 148, 1);
    font-size: large;

}








